<form name="paymentForm" ng-submit="paymentForm.$valid"  novalidate>
    <div id="payment">
        <h3>Data Payment:</h3>
        <div class="form-group">
            <label for="creditCard">Credit Card:</label>
            <input name="creditCard" class="form-control" type="text" ng-model="payment.creditCard" ng-pattern="/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/" required />
            <div ng-show="paymentForm.creditCard.$error.pattern" class="has-error">
                <span class="help-block ">Please, insert a valid credit card.</span>
            </div>
            <div ng-show="paymentForm.creditCard.$error.required" class="advice">
                <span class="help-block ">Credit card is required.</span>
            </div>
            <div ng-show="payment.creditCard.$invalid" class="has-error">
                <span class="help-block ">Please, insert correct credit card.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="cvv">CVV:</label>
            <input name="cvv" class="form-control" type="text" ng-model="payment.cvv" ng-pattern="/^[0-9]{3,4}$/" required />
            <div ng-show="paymentForm.cvv.$error.pattern" class="has-error">
                <span class="help-block ">Please, insert the code behind your credit card.</span>
            </div>
            <div ng-show="paymentForm.cvv.$error.required" class="advice">
                <span class="help-block ">CVV is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code:</label>
            <input name="postalCode" class="form-control" type="text" ng-model="payment.postalCode" ng-pattern="/^[0-9]{5}$/" required />
            <div ng-show="paymentForm.postalCode.$error.pattern" class="has-error">
                <span class="help-block ">Please insert your four digits code-area.</span>
            </div>
            <div ng-show="paymentForm.postalCode.$error.required" class="advice">
                <span class="help-block ">Code-area is required.</span>
            </div>
        </div>

        <div class="form-group">
            <button ng-click="endAndShow()" ng-disabled="paymentForm.$invalid" class="btn btn-default btn-success btn-block">
                Get your reservation!
            </button>
            <input ng-click="$parent.showAction = 1" class="btn btn-default btn-primary btn-block" type="button" value="Back">
        </div>
    </div>
</form>
