<h1>Register</h1><br>
<!-- form to register an user -->
<form name="register">
    <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" class="form-control" name="username" pattern="[a-zA-Z ]{3,15}" ng-model="user.name" value="{{user.name}}" required/>
        <!-- show if error -->
        <div  class="has-error">
            <span ng-show="register.username.$invalid && register.username.$dirty" class="help-block">
                Please, enter a valid name.
            </span>
        </div>
    </div>
    <br>
    <div>
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="user.email" value="{{user.email}}" required/>
        <!-- show if error -->
        <div  class="has-error">
            <span ng-show="register.email.$invalid && register.email.$dirty" class="help-block">
                Please, enter a valid email.
            </span>
        </div>
    </div>
    <br>
    <div>
        <label for="movil">Mobile:</label>
        <input type="text" class="form-control" pattern="[0-9]{9,13}" name="movil" ng-model="user.movil" value="{{user.movil}}" required/>
        <!-- show if error -->
        <div  class="has-error">
            <span ng-show="register.movil.$invalid && register.movil.$dirty" class="help-block">
                Please, enter a valid mobile number.
            </span>
        </div>
    </div>
</form>

<!-- submit button is disabled if inputs are not correct -->
<div class="form-group">
        <label for="formGroup"></label>
        <button class="btn btn-default btn-success btn-block" ng-disabled="register.$invalid" ng-click="setReservation()"> Next </button>
        <input class="btn btn-default btn-primary btn-block" type="button" value="Back" >
    </div>
